
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.ui-layout-north{
    padding: 0em;
    border: 0px solid #036fab !important;
}

.ui-layout-north .ui-layout-unit-content{
    /* IE10 */ 
    background: -ms-linear-gradient(center top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)) repeat scroll 0 0 #C4C4C4;

    /* Mozilla Firefox */ 
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.7)) repeat scroll 0 0 #C4C4C4;

    /* Opera  */
    background: -o-linear-gradient(center top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)) repeat scroll 0 0 #C4C4C4;

    /* Webkit (Safari/Chrome 10)*/ 
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.7))) repeat scroll 0 0 #C4C4C4; 

    /* Webkit (Chrome 11+) */ 
    background: -webkit-linear-gradient(center top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)) repeat scroll 0 0 #C4C4C4;

    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-layout-south .ui-layout-unit-content{
    /* IE10 */ 
    background: -ms-linear-gradient(center top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
    
    /* Mozilla Firefox */ 
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;

    /* Opera  */
    background: -o-linear-gradient(center top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;

    /* Webkit (Safari/Chrome 10)*/ 
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(1, rgba(255, 255, 255, 0))) repeat scroll 0 0 #C4C4C4; 

    /* Webkit (Chrome 11+) */ 
    background: -webkit-linear-gradient(center top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;

    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-menu, .ui-menu .ui-menu-child {
    background: #ffffff;
}

.ui-widget-content {
    border: 0px solid #A8A8A8;
}

.ui-layout-unit {
    padding: 0em  !important;
    visibility: hidden;
}